.about-section {
    /* background-color: #d0dec5; */
    padding: 60px 0;
    font-family: "Caudex";
    text-align: center;
    width: 85%;
    background-color: rgb(201, 216, 191);
    h1{
        font-size: 42px;
    }
    p{
        font-size: 20px;


    }

}
.blog_card_section{
    background-image: url("https://reservq.vercel.app/assets/faq-bg-7118ca12.png");
    /* position: relative; */
    padding-top: 20px;
    padding-left: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: rgb(249, 236, 255); */
}
/* .blog_card_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://reservq.vercel.app/assets/faq-bg-7118ca12.png");
    background-size: cover;
    filter: blur(0px);
    z-index: -1;} */

.card{
    width: 292px;
    padding-bottom: 20px;
    transition: transform 0.5s ease-in-out;
}
.card:hover {
    color: rgb(0,133,102);
    transform: scale(1.05);
    }
.card-title {

    font-weight: bold;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-body{
    font-family: "Wix Madefor Display";
    font-size: 15px;
}

.card-title{
    font-family: "Caudex";

    /* font-family: "Montserrat"; */
    font-size: 26px;
}
.card-text small {
    color: #6c757d;
}

.fa-heart {
    color: red;
}
.blog_xett{
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 15px;
}

