.price_ust {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 230px;
    background-color: rgb(201, 216, 191);
    font-family: "Caudex";

    .price {
        text-align: center;
        font-size: 42px;
        font-family: "Caudex";
        color: rgb(29, 59, 42);
    }

    p {
        color: rgb(29, 59, 42);
        text-align: center;
        font-size: 24px;
        width: 543px;
        height: 41px;
    }

}

.card-content {
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.pricing-table {
    margin-left: 130px;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.basic {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pricing-card::before {
    content: "";
    inset: 0;
    left: -5px;
    margin: auto;
    width: 250px;
    height: 364px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #256b4f 0%, #256b4f 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pricing-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
/* .wishlist_btn{
    position: absolute;
    right: 15px;
    top: 15px;
} */
.card-content {
    padding: 40px;
    transition: transform 0.3s ease-in-out;
}

.pricing-card:hover .card-content {
    transform: scale(1.05);
}

.pricing-card:hover {
    border: 1.5px solid #256b4f;
}

.pricing-card h2 {
    font-size: 1.5em;
    color: #333;
    font-family: "Caudex";
    font-weight: 600;
    margin-bottom: 20px;
}

.pricing-card .price {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

.pricing-card p {
    font-family: "Wix Madefor Display";
    color: #666;
    margin: 10px 0;
}

.pricing-card button {
    text-align: center;
    position: absolute;
    background-color: rgb(29, 59, 42);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 20px;
    right: 50px;
    transition: background-color 0.3s;
}

.pricing-card button:hover {
    color: rgb(29, 59, 42);
    background-color: transparent;
    border: 2px solid rgb(29, 59, 42);
    border-radius: 7px;

}

.pricing-card ul {
    text-align: center;
    margin-top: 90px;
    list-style-type: none;
    padding: 0;
    color: #555;
}

.pricing-card ul li {
    font-family: "Wix Madefor Display";
    margin: 10px 0;
}

.best-value {
    position: relative;
}

.best-value::before {
    content: "Best Value";
    background-color: #2a815c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.pricing-card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #256b4f 0%, #256b4f 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.pricing-card:hover::after {
    filter: blur(30px);
}

#button_filter {
    background-color: transparent;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    color: #256b4f;
}

.button_sira {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 120px;
    bottom: 290px;

    a {
        font-family: "Wix Madefor Display";
        padding: 5px;
    }
}

.button_sira input {
    margin-bottom: 25px;
    padding: 5px;
    font-family: "Wix Madefor Display";
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#button_filter {
    background-color: transparent;
    color: #256b4f;
    border: 1px solid #256b4f;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button_filter:hover {
    background-color: #256b4f;
    color: #fff;
}

li {
    list-style-type: none;
    visibility: visible !important;
    unicode-bidi: normal !important;
    font-variant-numeric: normal !important;
    text-transform: inherit !important;
    text-indent: initial !important;
    text-align: inherit !important;
    text-align-last: inherit !important;
}
#wishlist_add_btn{
    background-color: transparent;
    position: absolute;
    right: 1px;
    top: 5px;
    margin: 0;
    text-align: right;
}
#wishlist_add_btn:hover{
    border: none;
}