.faq_top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 230px;
    background-color: rgb(201, 216, 191);
    font-family: "Caudex";

    p {
        color: rgb(29, 59, 42);
        text-align: center;
        font-size: 18px;
        width: 550px;
        height: 41px;
        font-size: 21px;
        margin-top: 20px;
    }

    h3 {
        text-align: center;
        font-size: 42px;
        font-family: "Caudex";
        color: rgb(29, 59, 42);
    }
}
.faq_all{
    background-image: url("https://reservq.vercel.app/assets/faq-bg-7118ca12.png");
    padding-top: 20px;
    padding-left: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-content {
    font-family: "Caudex";
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content:hover {
    box-shadow: 0 14px 20px rgb(29, 59, 42);

}

.team {
    margin-top: 2rem;
}

.team h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2a593e;
}

.team-member {
    margin-bottom: 1rem;
}

.team-name {
    display: block;
    padding: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.team-name:hover {
    background-color: #e2f2e2;
    transform: scale(1.02);
}

.team-toggle {
    display: none;
}

.team-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    padding: 0 1rem;
    font-family: "Wix Madefor Display";

}

.team-toggle:checked+.team-name+.team-details {
    max-height: 200px;
    padding: 1rem;
}


@media (max-width: 768px) {
    .header .nav {
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
    }

    .header .logo {
        margin-bottom: 1rem;
    }
}