.error {
  background-image: url("https://reservq.vercel.app/assets/faq-bg-7118ca12.png");
}

.error_main {
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s alternate infinite;
}

@keyframes dash {

  0%,
  30% {
    fill: 4B4B62;
    stroke-dashoffset: 0;
  }

  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200;
  }
}

.notfound {
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-image: url("https://reservq.vercel.app/assets/traditional-bg-9423c4a0.png");
}

.cic {
  display: flex;
  justify-content: center;
}

.error-box {
  border-radius: 0;
  margin-bottom: 80px;
  position: relative;
  padding: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 380px;
  box-sizing: border-box;
  margin-top: 40px;
}

.error-box-inner {
  color: rgb(29, 59, 42);
  z-index: 2;
  text-align: center;
}

.error-box-inner h3 {
  font-size: clamp(1.625rem, -0.5625rem + 7vw, 3.375rem);
}

.error-box-inner h2 {
  font-size: clamp(3.125rem, -2.3438rem + 17.5vw, 7.5rem);
}

.error-box-inner h4 {
  font-size: clamp(1.25rem, 0.9375rem + 1vw, 1.5rem);
}

.error-box::before {
  content: "";
  position: absolute;
  width: 380px;
  height: 380px;
  border: 2px dotted #317278;
  background-color: transparent;
  animation: rotate 12s linear infinite;
  margin: 20px auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.error_p {
  margin-top: 50px;
  color: rgb(29, 59, 42);
  text-align: center;
  font-weight: 500;
}

.but {
  text-align: center;
}

.but a {
  border: 1px solid rgb(29, 59, 42);
  background-color: var(--main--color);
  padding: 15px 35px;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  transition: .6s;
  font-size: 14px;
  letter-spacing: clamp(0.0625rem, 0.0337rem + 0.1282vw, 0.1875rem);
}

.but a:hover {
  background-color: rgb(29, 59, 42);
  color: white;
  transition: .6s;
}

@media screen and (max-width: 662px) {
  .notfound .error-box {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .notfound .error-box {
    width: 180px;
    height: 180px;
  }
}