* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;

}


.all_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.header-wrapper{
    background-image: url("https://reservq.vercel.app/assets/faq-bg-7118ca12.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header_logo {
    display: flex;
    align-items: center;
    span {
        margin-left: 15px;
        color: black;
        font-size: 18px;
        cursor: pointer;
        color: rgb(29,59,42);
        font-family: "Montserrat";
        font-weight: 700;

        a {
            text-decoration: none;
            color: #008566;

        }
    }
}

.header_list ul {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;

    li {
        list-style: none;
        text-decoration: none;
        text-align: right;
        line-height: 40px;
        padding: 0 10px;
        font-family: "Wix Madefor Display";
        font-size: 16px;
        transition: var(--trans, color .4s ease 0s);

        a {
            color: black;
            text-decoration: none;

        }
    }

    a:hover {
        color: #008566;
    }
}

.header_right {
    margin-left: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 40px;   */
}

.header_log_in {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #008566;

    }

    span:hover {
        color: #008566;
    }
}